apiVersion: apps/v1
kind: Deployment
metadata:
  name: fuzeapi
  labels:
    app: fuzeapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fuzeapi
  template:
    metadata:
      labels:
        app: fuzeapi
    spec:
      containers:
      - name: fuzeapi
        image: fezzzy/fuze-service:v1.0
        ports:
        - containerPort: 5000